@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
  background: gold;
}

.container {
  background: gold;
  font-family: 'Arimo', sans-serif;
}

.no-flexbox .container {
  overflow: auto;
}

.no-flexbox .container .col {
  width: 27%;
  padding: 30px 3.15% 0;
  float: left;
}

.flexbox .container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.flexbox .container .col {
  flex: 1;
  padding: 1rem;
}

.flexbox .container .col:nth-child(3) {
  flex: 1.5;
}

@media screen and (max-width: 48rem) {
  .flexbox .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
  }

  .no-flexbox .container .col {
    width: 95%;
  }
}
